/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  min-inline-size: 1024px;
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
  min-height: 768px;
  padding: 20px;
}

.header__theme-menu {
  justify-self: center;
  align-self: start;
  margin-block-start: 0px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  background-color: transparent;
  color: var(--button-color);
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover-color);
}

.header__theme-menu-button:focus {
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: var(--button-color);
}

.header__theme-menu-button_active {
  border-color: var(--button-color);
  pointer-events: none;
}

.header__rec {
  display: block;
  position: absolute;
  top: 20px;
  right: 48px;
  color: var(--decor-color);
  font-family: var(--main-font);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -20px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.header__title {
  justify-self: start;
  align-self: center;
  color: var(--title-color);
  font-family: var(--main-font);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: var(--font-weight-bold);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-top: 0px;
}

.header__text {
  justify-self: end;
  align-self: center;
  max-inline-size: min(491px, 50%);
  margin-block-start: 114px;
  line-height: var(--line-height-base);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-base);
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 80px;
}

.section {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.section__content__element {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__title {
  color: var(--section-title-color);
  font-family: var(--main-font);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-base);
}

.section__text {
  font-family: var(--main-font);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
  color: var(--section-text-color);
}

.section__text a {
  color: var(--link-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow);
  transition: border 0.3s ease;
}

.section__text a:hover {
  border-bottom: 1px solid var(--link-color);
}

.section__text a:focus {
  outline: none;
}

.section__text a:focus-visible {
  outline: 1px solid var(--link-color);
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cards-list-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery__title {
  margin-bottom: 20px;
}

.section__why {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.section__what {
  flex-direction: column;
  gap: 20px;
}

.section__title__what {
  max-width: 315px;
}

.section__how {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.title__section__how {
  font-weight: var(--font-weight-regular);
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery__content {
  display: grid;
  grid-template-columns: repeat(3, minmax(315px, 1fr));
  grid-template-rows:
    minmax(260px, 342px)
    minmax(315px, 415px)
    minmax(433px, 570px);
  gap: 20px;
}

.gallery__content img:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1;
}

.gallery__content img:nth-child(2) {
  grid-column: 3;
  grid-row: 1 / 3;
}

.gallery__content img:nth-child(3) {
  grid-column: 1;
  grid-row: 2 / 4;
}

.gallery__content img:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.gallery__content img:nth-child(5) {
  grid-column: 2 / 4;
  grid-row: 3;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  place-items: center;
  block-size: 100vh;
  min-block-size: 768px;
  padding: 20px;
  position: relative;
}

.footer__title {
  color: var(--title-color);
  font-family: var(--main-font);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: var(--font-weight-bold);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width <= 1023px) and (width >= 768px) {
  .page {
    min-inline-size: 768px;
  }

  .header {
    min-height: 1024px;
    grid-template-rows: 1fr auto 1fr;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: start;
    margin-top: 192px;
    margin-right: 20px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    max-inline-size: min(364px, 50%);
    margin-block-start: 162px;
    align-self: start;
    margin-top: 55px;
  }

  .main {
    margin-top: 40px;
    gap: 60px;
  }

  .section__title__what {
    max-width: 236px;
  }

  .cards-list-columns {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .gallery__content {
    grid-template-columns: repeat(3, minmax(230px, 1fr));
    grid-template-rows:
      minmax(120px, 180px)
      minmax(150px, 220px)
      minmax(120px, 180px);
  }

  .footer {
    min-height: 1024px;
  }
}

@media (width <= 767px) {
  .page {
    min-inline-size: 375px;
  }

  .header {
    min-height: 668px;
    padding: 10px;
    grid-template-rows: 1fr auto auto 1fr;
  }

  .header__theme-menu {
    margin-top: 75px;
    margin-right: 10px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-left: 0;
    grid-row: 2;
  }

  .header__text {
    max-inline-size: calc(100% - 20px);
    margin-top: 55px;
    margin-left: 10px;
    margin-right: 10px;
    align-self: start;
    grid-row: 3;
  }

  .main {
    margin-top: 40px;
    gap: 50px;
  }

  .section {
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    gap: 20px;
  }

  .section__why {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section__what {
    gap: 20px;
  }

  .section__title__what {
    max-width: 100%;
  }

  .cards-list-columns {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section__how {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .gallery {
    gap: 10px;
  }

  .gallery__content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 10px;
  }

  .gallery__content img:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .gallery__content img:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .gallery__content img:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }

  .gallery__content img:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
  }

  .gallery__content img:nth-child(5) {
    grid-column: 1;
    grid-row: 5;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .header__rec {
    top: 10px;
    right: 38px;
  }

  .footer {
    min-height: 668px;
    padding: 10px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
