:root {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --decor-color: #ff0070;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --text-color: #000028;
  --main-font: "IBM Plex Mono", monospace;
  --font-size-base: 18px;
  --line-height-base: 23.4px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --section-title-color: #ff0070;
  --section-text-color: #f1b2ce;
  --button-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --link-color: #f1b2ce;
  --link-shadow: #ff0070;
}

